@model ToDoApp.Helpers.Student

@{
    ViewBag.Title = "Student data posted!";
}

<h2>@ViewBag.Message</h2>

@*<div class="alert alert-success">
    Student data:
    <ul>
        <li>First Name: @Model.FirstName</li>
        <li>Last Name: @Model.LastName</li>
        <li>Age: @Model.Age</li>
        <li>Email: @Model.Email</li>
        <li>University: @Model.University</li>
    </ul>
</div>*@